# http://EditorConfig.org
# Consistent coding style across different editors.

# NOTE: If you update this file make 
# sure to update .dir-locals.el and .vimrc, too.

# Top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[NEWS]
indent_style = space
indent_size = 4

# Match config files, set indent to spaces with width of eight
[*.{c,h}]
indent_style = space
indent_size = 4
max_line_length = 109

[*.sh]
indent_style = space
indent_size = 4
max_line_length = 80

[meson.build]
indent_style = space
indent_size = 2

[meson_options.txt]
indent_style = space
indent_size = 8

[docs/**/*.css]
indent_style = space
indent_size = 2

[docs/**/*.html]
indent_style = space
indent_size = 2

[*.md]
indent_size = 2
trim_trailing_whitespace = false

[*.py]
indent_size = 4

[*.{xml,yml}]
indent_style = space
indent_size = 2
tab_width = 8
