/core_animator_example
/core_audio_custom
/core_audio_playback
/core_audio_to_ogg
/core_client_bench
/core_compose_get_example
/core_con_client_example
/core_con_client_simple_example
/core_con_eet_client_example
/core_con_eet_server_example
/core_con_lookup_example
/core_con_server_example
/core_con_server_http_example
/core_con_server_simple_example
/core_con_url_cookies_example
/core_con_url_download_example
/core_con_url_ftp_example
/core_con_url_headers_example
/core_evas_basics_example
/core_evas_buffer_example_01
/core_evas_buffer_example_02
/core_evas_callbacks
/core_evas_cursor_example
/core_evas_ews_example
/core_evas_extn_plug_example
/core_evas_extn_socket_example
/core_evas_object_example
/core_evas_wayland_multiseat_example
/core_evas_window_sizes_example
/core_evas_vnc_example
/core_event_example_01
/core_event_example_02
/core_exe_example
/core_exe_example_child
/core_fd_handler_example
/core_file_download_example
/core_getopt_example
/core_idler_example
/core_input_joystick_example
/core_imf_example
/core_job_example
/core_pipe_gstreamer_example
/core_pipe_simple_example
/core_poller_example
/core_server_bench
/core_thread_example
/core_time_functions_example
/core_timer_example
/core_buffer_example
/core_buffer_consumer_example
/core_buffer_provider_example
/efl_io_copier_example
/efl_io_copier_simple_example
/efl_io_queue_example
/efl_io_buffered_stream_example
/efl_net_server_example
/efl_net_server_simple_example
/efl_net_dialer_http_example
/efl_net_dialer_websocket_example
/efl_net_dialer_websocket_autobahntestee
/efl_net_dialer_udp_example
/efl_net_dialer_simple_example
/efl_net_dialer_unix_example
/core_evas_vnc
/efl_net_socket_ssl_dialer_example
/efl_net_socket_ssl_server_example
/*.pem
/efl_net_session_example
/efl_net_control_example
/efl_net_ip_address_example
/core_ipc_server_example
/core_ipc_client_example
/core_promise2_example
